body {
  color: #586b8f;
  padding-bottom: 70px;
  background-color: #fff;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
}

p{
  background-color: #fff;
  border-bottom: solid 20px #364e96;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  color: #364e96;
}

/* チェックボックスを非表示にする */
input[type="checkbox"] {
	visibility: hidden;
}
#checkbox-menu {
	position: relative;
	width: 48px;
	height: 48px;
	margin: auto;
}
/* ラベル (ボタン) のデザイン */
#checkbox-menu label {
	display: block;
	position: absolute;
	top: 30px;
	width: 64px;
	height: 64px;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu label:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%; left: 0;
	margin-top: -1.5px;
  background-image: url("phone.png");
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu label:after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 50%;
	margin-left: -1.5px;
	bottom: 0;
  background-image: url("phone.png");
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
}
#checkbox-menu input[type="checkbox"]:checked + label {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
#checkbox-menu input[type="checkbox"]:checked + label:before{
  background-image: url("brackP.png");
  },
#checkbox-menu input[type="checkbox"]:checked + label:after {
  background-image: url("redP.png");
}
/* リストのデザイン */
#list {
	position: absolute;
	top: 100px; left: 50%;
	margin-left: -150px;
	width: 300px;
	height: auto;
	background: #19283C;
	visibility: hidden;
	opacity: 0;
	border-radius: 8px;
	-webkit-transition: all .25s ease-in-out 0s;
	   -moz-transition: all .25s ease-in-out 0s;
	    -ms-transition: all .25s ease-in-out 0s;
	     -o-transition: all .25s ease-in-out 0s;
	        transition: all .25s ease-in-out 0s;
	-webkit-transform: translate3d(0, -15px, 0);
	   -moz-transform: translate3d(0, -15px, 0);
	    -ms-transform: translate3d(0, -15px, 0);
	     -o-transform: translate3d(0, -15px, 0);
	        transform: translate3d(0, -15px, 0);
}
#list:after {
	content: "";
	position: absolute;
	top: -10px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
}
#list li {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	font-size: 13px;
	color: #F6F6F6;
	line-height: 50px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	       -box-sizing: border-box;
}
/* ラベルにチェックが入ったときにリストを表示 */
#checkbox-menu input[type="checkbox"]:checked + label + #list {
	background: #19283C;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

#var1 {
  text-align: center;
  font-size: 26px;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
  color: #fff;
  border:none;
  background:none;
}

#var2{
  border: 5px solid #586b8f;
   background: none;
   color: #fff;
   box-shadow: 0px 10px 0px 0px #a70128;
   -webkit-perspective: 300px;
   -webkit-transform-style: preserve-3d;
   perspective: 300px;
   transform-style: preserve-3d;
}
#var2:hover{
   color: #586b8f;
}
#var2:after {
   left: 0;
   top: 0;
   z-index: -1;
   background: #586b8f;
   -webkit-transform-origin: center bottom;
   -webkit-transform: rotateX(0);
   transform-origin: center bottom;
   transform: rotateX(0);
}
#var2:hover:after {
   -webkit-transform: rotateX(-180deg);
   transform: rotateX(-180deg);
}
