body {
  border-top:solid 60px #7fffd4;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;
  color: #586b8f;
  background-color: #ffed78;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
}

h2 {
  border-bottom: dashed 2px #7fffd4;
  /*線の種類（点線）2px 線色*/
}

.speech > #speechBt{
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #586b8f;
  border: solid 2px #586b8f;
  border-radius: 3px;
  transition: .4s;
}

/*  DEMO 01 CHECKBOX */
.demo1 .label_list:nth-of-type(1) label input[type="checkbox"] + span::before {
  border-color: #00acc1;
}
.demo1 .label_list:nth-of-type(1) label input[type="checkbox"]:checked + span::before {
  background-color: #00acc1;
}
.demo1 .label_list:nth-of-type(2) label input[type="checkbox"] + span::before {
  border-color: #ec407a;
}
.demo1 .label_list:nth-of-type(2) label input[type="checkbox"]:checked + span::before {
  background-color: #ec407a;
}
.demo1 label span {
  display: inline-block;
}
.demo1 label input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.demo1 label input[type="checkbox"] + span::before, .demo1 label input[type="checkbox"] + span::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  box-sizing: border-box;
}
.demo1 label input[type="checkbox"] + span::before {
  z-index: 0;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 2px #616161 solid;
  border-radius: 5px;
}
.demo1 label input[type="checkbox"] + span::after {
  z-index: 1;
  margin: 5px 8px;
  width: 6px;
  height: 9px;
}
.demo1 label input[type="checkbox"]:checked + span::before {
  background-color: #616161;
}
.demo1 label input[type="checkbox"]:checked + span::after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}


.speech > #speechBt:hover {
  background: #586b8f;
  color: white;
}
