body {
  border-top:solid 60px #7fffd4;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;
  color: #586b8f;
  background-color: #ffed78;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
}

h2 {
  border-bottom: dashed 2px #7fffd4;
  /*線の種類（点線）2px 線色*/
}

.speech > #speechBt{
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #586b8f;
  border: solid 2px #586b8f;
  border-radius: 3px;
  transition: .4s;
}


.speech > #speechBt:hover {
  background: #586b8f;
  color: white;
}

.done-true {
  color: red;
  text-decoration: line-through;
}

a.bt-samp40 {
  display: block;
  text-decoration: none;
  height: 30px;
  width: 70px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #dd9b9d;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

a.bt-samp40:hover {
  color: #dd9b9d;
  border: dashed 1px #dd9b9d;
  background: none;
}

a.bt-samp40:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
