body {
  border-top:solid 60px #7fffd4;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;

  color: #586b8f;
  background-color: #fff;
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
}

h2 {
  border-bottom: dashed 2px #7fffd4;
  /*線の種類（点線）2px 線色*/
}

.speech > #speechBt{
  font-family: 'Avenir', 'Corbel', 'Osaka', 'MS Pゴシック', sans-serif;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #586b8f;
  border: solid 2px #586b8f;
  border-radius: 3px;
  transition: .4s;
}

.speech > #speechBt:hover {
  background: #586b8f;
  color: white;
}

input[type=checkbox] {
  display: none;
}
.memo {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 0 0 0 42px;
  vertical-align: middle;
  cursor: pointer;
}
.memo:hover:after {
  border-color: #0171bd;
}
.memo:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  content: '';
}
.memo:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #0171bd;
  border-bottom: 3px solid #0171bd;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .memo:before {
  opacity: 1;
}
